/* O CONTAINER PRINCIPAL DA LISTA */
.lista-filmes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria exatamente 3 colunas do mesmo tamanho */
    gap: 25px;         /* Dá um espaço (margem) entre um filme e outro */
    max-width: 1200px; /* Limita a largura total para a grade não esticar ao infinito numa TV */
    margin: 20px auto; /* Centraliza a grade na tela do usuário */
    padding: 0 20px;   /* Dá um respiro nas laterais caso a tela seja menor */
}


.lista-filmes article {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
}


.lista-filmes strong {
    font-size: 20px;
    color: #000000;
    margin-bottom: 14px;
    text-align: center;
}


.lista-filmes img {
    width: 100%;       
    height: 400px;     
    object-fit: cover; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.lista-filmes a {
    display: block;
    width: 100%;       
    margin-top: 0px;  
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    background-color: #3c6ed4;
    padding: 10px 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}